
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
* a {
   text-decoration: none;
}
*::-webkit-scrollbar {
   width: 7px;
   height: 7px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
   background: rgb(220, 220, 220);
}

body{
   min-height: 500vh;
}
html{
   scroll-behavior: smooth;
}
.container {
   width: 95%;
   max-width: 1400px;
   margin: auto auto;
}
.inside-main {
   padding-left: 240px;
}